<section class="bg pt-11 text-white ">
    <header class="flex  justify-center  relative text-5xl pt-11">
        <h1>¡LA PRUEBA ESTÁ EN EL PUDÍN!</h1>
    </header>
    <div class="flex justify-center relative ">
        <ul class="flex justify-between relative  pb-11">
            <li class="m-8 px-9 font-extralight text-lg">Clientes Felices <p class="flex justify-center text-6xl font-bold pt-2 ">253+</p></li>
            <li class="m-8 px-9 font-extralight text-lg">Proyectos Completados <p class="flex justify-center text-6xl font-bold pt-2">111+</p> </li>
            <li class="m-8 px-9 font-extralight text-lg">Tasas de Cafe<p class="flex justify-center text-6xl font-bold pt-2">351+</p ></li>
            <li class="m-8 px-9 font-extralight text-lg">Charlas Telefonicas <p class="flex justify-center text-6xl font-bold pt-2">740+</p></li>
        </ul>
    </div>


</section>
<style>
    .bg{
        background-color: rgb(155, 215, 199);;
    }
</style>