<section class="banner">
    <div class="relative flex flex-col  z-9 h-[58vh] text-center top-[200px]">
    <p class="text-xs font-extralight color">TRABAJAMOS DURO, JUGAMOS DURO</p>
    <h1 class="text-[60px] font-semibold  color">We’re a Design Studio <br>
        That Believes In Great Ideas
        </h1>
        <div class="dosbotones">
            <a class="button" href="">Ver nuestro trabajo</a>
            <a class="button2" href="">Conectate con nosotros</a>

        </div>
</div>
</section>

<style>
     .button{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:rgb(161, 219, 204);
    color: white;
    height: 65px;
    width: 220px;
    position: relative;
    padding: 20px;
    margin: 20px;
 
    transition: 0.3s ease all;
    
    
    
    
}

.button2{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:rgb(245, 181, 187);
    color: white;
    height: 65px;
    width: 220px;
    position: relative;
    padding: 20px;
    margin: 20px;
 
    transition: 0.3s ease all;
    
    
    
    
}
.button:hover{
    background-color:rgb(103, 212, 183);
    transform:  scale(1.1);
    transition:  0.8s ease all;

    
    
}
.button2:hover{
    background-color:rgb(235, 144, 153);
    transition:  0.8s ease all;
    transform:  scale(1.1);
    
    
}











    .dosbotones{
        position: relative;
        display: flex;
        justify-content: center;

        top: 15%;
        
    }
    .color{

        color:rgb(24, 23, 70)
    }
    

    .banner{
        
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../Images/background.jpg);
        background-size: cover;
        background-position: center center;
    }
</style>