---
---
<section class="bgray">
    <div class="flex  justify-center text-center items-center relative">
        <h1 class="color text-7xl font-semibold pb-0  absolute " >VAMOS A TRABAJAR JUNTOS</h1>
    </div>
    <div class="dosbotones">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        <a class="button" href="">Ver nuestro trabajo</a>
        <a class="button2" href="">Conectate con nosotros</a>
    </div>

</section>

<style>
    .bgray{
    background: url(../images/blanco.jpg);
    width: 100%;
    height: 28rem;
    


    }
    .button{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:rgb(161, 219, 204);
    color: white;
    height: 65px;
    width: 220px;
    position: relative;
    padding: 20px;
    margin: 20px;
 
    transition: 0.3s ease all;
    
    
    
    
}
.color{
top: 6.75rem;
color:rgb(24, 23, 70)
}

.button2{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:rgb(245, 181, 187);
    color: white;
    height: 65px;
    width: 220px;
    position: relative;
    padding: 20px;
    margin: 20px;
 
    transition: 0.3s ease all;
    
    
    
    
}
.button:hover{
    background-color:rgb(103, 212, 183);
    transition:  0.8s ease all;
    transform:  scale(1.1);
    
    
}
.button2:hover{
    background-color:rgb(235, 144, 153);
    transition:  0.8s ease all;
    transform:  scale(1.1);
    
    
}












    .dosbotones{
        position: relative;
        display: flex;
        justify-content: center;

        top: 55%;
        
    }
    .color{

        color:rgb(24, 23, 70)
    }
    





</style>